@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;

  --color-primary: #007C63;   
  --color-secondary: #0E9F6E; 
  --color-accent: #FFD166;  
  --color-neutral: #F2F5F3;  
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #0E9F6E;
  --color-secondary: #34D399;
  --color-accent: #FFD166;
  --color-neutral: #111827;
}

.active {
  background-color: #0E9F6E;
}
